/node_modules
/client/node_modules
/server/node_modules
/server/build
/server/public
/client/.env
/server/.env
/client/coverage
/server/coverage

# Playwright
/playwright-report/
/test-results/
/blob-report/
/playwright/.cache/
